<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="tiny-feature  text-center">
                    <h2 class="heading-pri color">Tinyone Features</h2>
                    <p class="para">Lorem  jiuty fresa cfdre gytr rtyeswa vgfrd ipsum, dolor sit amet consectetur adipisicing elit. Edasrt Ewsaqw Vaersde Desrabvg cfrt Uhvadf resd dersLaborum laboriosam impedit sequi! Nam, aperiam in.</p>
                    <div class="contactForm">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input type="text" id="email" placeholder="Enter email to update" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn submit btn-block">submit</button>
                            </div>
                        </div>
                    </div>
                    <ul class="socialLinks">
                        <li><a href="javascript:;"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="javascript"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="javascript"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="javascript"><i class="fab fa-pinterest-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <ul class="footerLinks">
                    <li>HALOVIETNAM LTD</li>
					<li> 66, Dang Van ngu, Dong Da</li>
					<li> Hanoi, Vietnam</li>
					<li> <a href="mailto:contact@halovietnam.com" class="nocap">contact@halovietnam.com</a></li>
					<li> <a href="tel:844 345 678 999"></a>+844 345 678 999</li>
                </ul>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <ul class="footerLinks">
                    <li> <a href="javascript:;">Examples</a></li>
                    <li> <a href="javascript:;">Shop</a></li>
                    <li> <a href="javascript:;">Licence</a></li>
                </ul>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <ul class="footerLinks">
                    <li> <a href="javascript:;">Contact</a></li>
                    <li> <a href="javascript:;">About</a></li>
                    <li> <a href="javascript:;">Privacy</a></li>
                    <li> <a href="javascript:;">Terms</a></li>

                </ul>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <ul class="footerLinks">
                    <li> <a href="javascript:;">Download</a></li>
                    <li> <a href="javascript:;">Support</a></li>
                    <li> <a href="javascript:;">Document</a></li>
                </ul>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <ul class="footerLinks">
                    <li> <a href="javascript:;">Media</a></li>
                    <li> <a href="javascript:;">Blog</a></li>
                    <li> <a href="javascript:;">Forums</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>
