<main>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col md-10">
                    <div class="tiny-feature  text-center">
                        <h2 class="heading-pri">Tinyone Features</h2>
                        <p class="para">Lorem  jiuty fresa cfdre gytr rtyeswa vgfrd ipsum, dolor sit amet consectetur adipisicing elit. Edasrt Ewsaqw Vaersde Desrabvg cfrt Uhvadf resd dersLaborum laboriosam impedit sequi! Nam, aperiam in.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="myThumbnail">
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <img src="./assets/images/icon-font.png" alt="">
                            </div>
                            <div class="col-xs-9">
                                <div class="thumbInfo">
                                    <h4 class="heading-sec">Fully Responsive</h4>
                                    <p class="para">Lorem ipsum, dolor sit amet auit high auitre awesome futod dout bnjnk kityuhj consectetur adipisicing elit. Laborum laboriosam impedit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="myThumbnail">
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <img src="./assets/images/icon-font2.png" alt="">
                            </div>
                            <div class="col-xs-9">
                                <div class="thumbInfo">
                                    <h4 class="heading-sec">Fully Layered PSD</h4>
                                    <p class="para">Lorem ipsum, dolor sit amet auit high auitre awesome futod dout bnjnk kityuhj consectetur adipisicing elit. Laborum laboriosam impedit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="myThumbnail">
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <img src="./assets/images/icon-font3.png" alt="">
                            </div>
                            <div class="col-xs-9">
                                <div class="thumbInfo">
                                    <h4 class="heading-sec">Font Awesome Icons</h4>
                                    <p class="para">Lorem ipsum, dolor sit amet auit high auitre awesome futod dout bnjnk kityuhj consectetur adipisicing elit. Laborum laboriosam impedit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="myThumbnail">
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <img src="./assets/images/icon-font4.png" alt="">
                            </div>
                            <div class="col-xs-9">
                                <div class="thumbInfo">
                                    <h4 class="heading-sec">HTML3 & CSS3</h4>
                                    <p class="para">Lorem ipsum, dolor sit amet auit high auitre awesome futod dout bnjnk kityuhj consectetur adipisicing elit. Laborum laboriosam impedit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="myThumbnail">
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <img src="./assets/images/icon-font5.png" alt="">
                            </div>
                            <div class="col-xs-9">
                                <div class="thumbInfo">
                                    <h4 class="heading-sec">Email Template</h4>
                                    <p class="para">Lorem ipsum, dolor sit amet auit high auitre awesome futod dout bnjnk kityuhj consectetur adipisicing elit. Laborum laboriosam impedit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="myThumbnail">
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <img src="./assets/images/icon-font6.png" alt="">
                            </div>
                            <div class="col-xs-9">
                                <div class="thumbInfo">
                                    <h4 class="heading-sec">Free to download</h4>
                                    <p class="para">Lorem ipsum, dolor sit amet auit high auitre awesome futod dout bnjnk kityuhj consectetur adipisicing elit. Laborum laboriosam impedit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </main>
