.tiny-feature{
    margin-bottom:90px;
    padding:0 35px;
}
.heading-pri{
    font-weight:700;
}
.features{
    padding:110px 0 70px;
}
.myThumbnail{
    margin-bottom:80px;
}
.myThumbnail i{
    font-size: 50px;
    color:#010101;
}
.thumbInfo h4{
    font-size:22px;
    color:#010101;
    font-weight:400;
}
.thumbInfo p{
    font-size:16px;
    color:#898989;
    margin:0;
}